<ul>
    @for (item of myCollection; track item.origin_id) {
     <li>
        <p>{{ item.title}} </p>
        <p>from {{ item.collection_name }}</p>
        <p>by {{ item.originator }}</p>
        @if ( item.imageUrl !== "" && item.title !== "This is your place - add items"){
          <img class="img-logo"  [src]="item.imageUrl" [alt]="item.title" />
        } @else {
          <br />
        }
        @if ( item.originUrl !== "" ){
          <br />
          <a [href]="item.originUrl">click for more details</a>
        }
    </li>
  }
</ul>
