<h1>Cooper Hewitt - Smithsonian Design Museum</h1>

<ol>
  @for (item of allItems.objects; track item.id) {
   <li>
      <p>{{ item.id }} : {{ item.title }} </p>
      @for (participant of item.participants; track participant) {
        @if ( !["Donor", "Bequestor", "Previous owner"].includes(participant.role_name)){
          <p>{{ participant.role_name }} : {{ participant.person_name }} </p>
        }
      }
      <a [href]="item.url">click for more details</a>
      @if ( item.images.length === 1){
        <img class="img-logo"  [src]="item.images[0].n.url" alt="{{ item.title }}" />
      } @else { 
        <p>{{ item.id }} has not yet been digitised</p>
      }
    </li>
}
</ol>