 <p>{{infoString}}</p>

 <div class="grid align-items-center">
  <div class="col-10">
    <p-paginator [rows]="10" [totalRecords]="allItems.count" (onPageChange)="onPageChange($event)"
    [showJumpToPageDropdown]="true" [showPageLinks]="false"></p-paginator>
  </div>
</div>

<ol>
    @for (item of allItems.artObjects; track item.id) {
     <li>
        <p>{{ item.title}} </p>
        <p>by {{ item.principalOrFirstMaker }}</p>
        @if ( item.hasImage ){
          <img class="img-logo"  [src]="item.webImage.url" [alt]="item.longTitle" />
        } @else { 
          <p>No image available for {{ item.title }}</p>
        }
        <br />
        <a [href]="item.links.web">click for more details</a>
        <br />
        <p-button icon="pi pi-heart" (onClick)="addToMyCollection(item.id, item.title, item.principalOrFirstMaker, item.webImage.url, item.links.web)" ></p-button>
    </li>
  }
</ol>

@if ( allItems.count > 10 ){
  <div class="grid align-items-center">
    <div class="col-10">
      <p-paginator [rows]="10" [totalRecords]="allItems.count" (onPageChange)="onPageChange($event)"
      [showJumpToPageDropdown]="true" [showPageLinks]="false"></p-paginator>
    </div>
  </div>
}
