/* You can add global styles to this file, and also import other style files */
@import './styles/variables.scss';
@import '~primeicons/primeicons.css';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EBF7E3;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html,
body,
app-root {
  height: 100%;
  font-size: medium;
}

app-root {
  display: flex;
  flex-direction: column;
}

a {
  font-size: medium;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt-small {
  margin-top: 15px;
}

.mt-large {
  margin-top: 30px;
}

.mb-small {
  margin-bottom: 15px;
}

.mb-large {
  margin-bottom: 30px;
}

.ml-small {
  margin-left: 20px;
}

.ml-large {
  margin-left: 40px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-small {
  gap: 1rem;
}

.gap-large {
  gap: 2rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-left {
  align-items: left;
}

.align-right {
  align-items: right;
}

.justify-center {
  justify-content: center;
}

.full-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.img-logo
{ 
  white-space:pre;
  max-width: min(90%, 240px);
  max-height: min(80%, 240px);
}

.grid-container {
  display: grid;
  background-color: #9BD770;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  background-color: #66B032;
  padding: 10px;
  font-size: 30px;
  max-width: 80%;
}
