 <p>{{infoString}}</p>

 <div class="grid align-items-center">
  <div class="col-10">
    <p-paginator [rows]="10" [totalRecords]="allItems.total" (onPageChange)="onPageChange($event)"
    [showJumpToPageDropdown]="true" [showPageLinks]="false"></p-paginator>
  </div>
</div>

<ol>
    @for (item of allItems.objects; track item.id) {
     <li>
        <p>{{ item.title }} </p>
        @for (participant of item.participants; track participant) {
          @if ( !["Donor", "Bequestor", "Previous owner"].includes(participant.role_name)){
            <p>{{ participant.role_name }} : {{ participant.person_name }} </p>
          }
        }
        @if ( item.images.length === 1){
          <img class="img-logo"  [src]="item.images[0].n.url" alt="{{ item.title }}" />
        } @else { 
          <p>{{ item.title }} has not yet been digitised</p>
        }
        <br />
        <a [href]="item.url">click for more details</a>
        <br />
        @if ( item.is_liked ){
          <p class="liked-item">you have added this to your collection!</p>
         } @else {
          <p-button icon="pi pi-heart" (onClick)="addToMyCollection(item.id, item.title, item.participants[0].person_name, item.images[0].n.url, item.url, item)" ></p-button>
         }
    </li>
  }
</ol>

@if ( allItems.total > 10 ){
  <div class="grid align-items-center">
    <div class="col-10">
      <p-paginator [rows]="10" [totalRecords]="allItems.total" (onPageChange)="onPageChange($event)"
      [showJumpToPageDropdown]="true" [showPageLinks]="false"></p-paginator>
    </div>
  </div>
}

