<h1>Art Institute of Chicago</h1>

<p-fieldset legend="Filter" [toggleable]="true">
  @defer ( when fetchComplete ){
  <p-select
    [options]="allArtTypes.data"
    [(ngModel)]="selectedArtType"
    optionLabel="title"
    [style]="{ width: '25rem' }"
  ></p-select>
  }
  <br />
  <br />

  <p-floatlabel>
    <input id="search-text" pInputText [(ngModel)]="inputSearchString" [style]="{ width: '30rem' }"/>
    <label for="search-text">Your search here (eg 'cat')</label>
  </p-floatlabel>
  <p-button label="Search" icon="pi pi-search" (onClick)="setSearchString()" ></p-button>
</p-fieldset>

<app-artic-list-items
  artwork_type_id="{{ selectedArtType.id }}"
  artwork_type="{{ selectedArtType.title }}"
  searchString="{{searchString}}"
  allItems="{{ allItems }}"
/>

<nav>
  <a routerLink="/">Home</a>
</nav>
<router-outlet />